/* Este es el skin con los colores del CONARE */
:root {
  --color-azul-oscuro: #003865;
  --color-azul-claro: #80C6CF;
  --color-gris: #CCCCCC;
  --color-verde: #62A60A;
  --color-naranja: #FF8200;
}

@font-face {
  font-family: 'Syntax';
  src: url('');
}

@font-face {
  font-family: 'Cabin';
  src: url('https://fonts.googleapis.com/css?family=Cabin');
}

.skin-conare .main-header .navbar {
  background-color: var(--color-azul-claro);
}
.skin-conare .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-conare .main-header .navbar .nav > li > a:hover,
.skin-conare .main-header .navbar .nav > li > a:active,
.skin-conare .main-header .navbar .nav > li > a:focus,
.skin-conare .main-header .navbar .nav .open > a,
.skin-conare .main-header .navbar .nav .open > a:hover,
.skin-conare .main-header .navbar .nav .open > a:focus,
.skin-conare .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-conare .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-conare .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-conare .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-conare .main-header .navbar .sidebar-toggle:hover {
  background-color: var(--color-azul-oscuro);
}
@media (max-width: 767px) {
  .skin-conare .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-conare .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-conare .main-header .navbar .dropdown-menu li a:hover {
    background: var(--color-azul-oscuro);
  }
}
.skin-conare .main-header .logo {
  background-color: var(--color-azul-oscuro);
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-conare .main-header .logo:hover {
  background-color: var(--color-azul-oscuro);
}
.skin-conare .main-header li.user-header {
  background-color: var(--color-azul-claro);
}
.skin-conare .content-header {
  background: transparent;
}
.skin-conare .wrapper,
.skin-conare .main-sidebar,
.skin-conare .left-side {
  background-color: var(--color-gris);
}
.skin-conare .user-panel > .info,
.skin-conare .user-panel > .info > a {
  color: var(--color-azul-oscuro);
}
.skin-conare .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-conare .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-conare .sidebar-menu > li:hover > a,
.skin-conare .sidebar-menu > li.active > a,
.skin-conare .sidebar-menu > li.menu-open > a {
  color: #ffffff;
  background: var(--color-azul-oscuro);
}
.skin-conare .sidebar-menu > li.active > a {
  border-left-color: var(--color-azul-claro);
}
.skin-conare .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: var(--color-gris);
}
.skin-conare .sidebar a {
  color: var(--color-azul-oscuro);
}
.skin-conare .sidebar a:hover {
  text-decoration: none;
}
.skin-conare .sidebar-menu .treeview-menu > li > a {
  color: var(--color-azul-oscuro);
}
.skin-conare .sidebar-menu .treeview-menu > li.active > a,
.skin-conare .sidebar-menu .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-conare .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-conare .sidebar-form input[type="text"],
.skin-conare .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-conare .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-conare .sidebar-form input[type="text"]:focus,
.skin-conare .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-conare .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-conare .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
